# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual Environment
venv/
.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Streamlit / PyVis
.streamlit/

*.zip
*.tar.gz


report/*.pdf
ppt/*.pptx



node_modules/
dist/